body{
    background-image: url(nyc.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.login-page{
    width:360px;
    padding: 10% 0 0;
    margin:auto;
}
.form{
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width:360 px;
    margin: 0 auto 100px;
    padding : 45px;
    text-align:center;
    
}
.form button:hover,.form button:active{
    background: #43A047;
}

.form.message{
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}

.form.message a{
    color: #4CAF50;
    text-decoration: none;
}
.form.register-form{
    display: none;
}